.Button {
  --b-button: var(--c-primary);
  --c-button: var(--c-light);
  background: var(--b-button);
  border-radius: 48px;
  border: 0;
  border: 2px solid transparent;
  color: var(--c-button);
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  padding: 16px 48px;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &:active {
    transform: scale(0.96);
  }

  &--small {
    --b-button: var(--c-light);
    --c-button: var(--c-primary);
    border-color: var(--c-primary);
    font-size: 14px;
    padding: 4px 24px;
  }
}
