.Paragraphs {
  --p-paragraphs: 0 var(--s-md);
  margin: 0 auto;
  max-width: var(--mx-container-inner);
  padding: var(--p-paragraphs);

  @media (min-width: 768px) {
    --p-paragraphs: 0 var(--s-xl);
  }

  &-wrapper {
    --p-paragraphs-content: var(--s-md);
    background: var(--c-light);
    border-radius: var(--br-base);
    padding: var(--p-paragraphs-content);

    @media (min-width: 768px) {
      --p-paragraphs-content: var(--s-xl);
    }
  }
}
