.Header {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &-title {
    margin: 0;
    font-size: 32px;

    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
}
