.Clipboard {
  margin: 0 auto;
  max-width: var(--mx-container-inner);
  position: relative;
  text-align: right;

  &-status {
    display: inline-block;
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    line-height: var(--lh-xs);
    margin-right: var(--s-xs);
  }

  &-input {
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
}
