@import './components/button/index.scss';
@import './components/clipboard/index.scss';
@import './components/footer/index.scss';
@import './components/header/index.scss';
@import './components/nav/index.scss';
@import './components/paragraphs/index.scss';

:root {
  --c-dark: #000000;
  --c-light: #ffffff;
  --c-gray: #f3f4f6;
  --c-primary: #f3514d;
  --c-secondary: #fdd24b;
  --c-secondary-light: #ffdb67;

  --ff-base: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;

  --mx-container: 1240px;
  --mx-container-inner: 980px;
  --mx-container-huge: 1600px;

  --fw-normal: 400;
  --fw-bold: 700;

  --fs-xs: 14px;
  --lh-xs: 20px;
  --fs-sm: 16px;
  --lh-sm: 22px;
  --fs-md: 18px;
  --lh-md: 24px;
  --fs-lg: 20px;
  --lh-lg: 26px;
  --fs-xl: 32px;
  --lh-xl: 36px;
  --fs-xxl: 48px;
  --lh-xxl: 56px;

  --bw-base: 2px;
  --br-base: 8px;
  --br-lg: 24px;

  --s-xs: 4px;
  --s-sm: 8px;
  --s-md: 16px;
  --s-lg: 24px;
  --s-xl: 32px;
  --s-xxl: 40px;
  --s-xxxl: 48px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  --fs-body: var(--fs-sm);
  --lh-body: var(--lh-sm);
  background: var(--c-light);
  color: var(--c-dark);
  font-family: var(--ff-base);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  margin: 0;
  overflow: hidden;

  @media (min-width: 768px) {
    --fs-body: var(--fs-lg);
    --lh-body: var(--lh-lg);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  cursor: pointer;
}

div[role='group'] {
  display: flex;
}

label {
  align-items: center;
  display: flex;
  padding-right: var(--s-sm);
}

input {
  -webkit-appearance: none;
  appearance: none;
  background: var(--c-light);
  border: var(--bw-base) solid var(--c-dark);
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
  &[type='radio'],
  &[type='checkbox'] {
    --size-input: var(--s-lg);
    height: var(--size-input);
    width: var(--size-input);

    &:checked {
      background: var(--c-primary);
    }
  }

  &[type='radio'] {
    border-radius: 50%;
  }
}
