:root {
  --c-secondary: #fdd24b;
  --c-primary: #f3514d;
  --c-dark: #34111c;
  --c-light: #fffef4;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: var(--c-secondary);
  color: var(--c-dark);
  font-size: 22px;
}

@import './components/header/styles.scss';
@import './components/footer/styles.scss';
@import './components/nav/styles.scss';

.Container {
  max-width: 980px;
  margin: 0 auto;
  padding: 24px;

  @media (min-width: 768px) {
    padding: 32px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

label {
  cursor: pointer;
}

.Wrapper {
  padding: 32px;
  background: white;
  border-radius: 8px;
}

div[role='group'] {
  display: flex;
}

.Paragraphs p.show-tag::before {
  content: '<p>';
}
.Paragraphs p.show-tag::after {
  content: '</p>';
}

label {
  padding-right: 8px;
  display: flex;
}

.Button {
  --b-button: var(--c-primary);
  --c-button: var(--c-light);
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 16px 48px;
  background: var(--b-button);
  color: var(--c-button);
  border-radius: 48px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &:active {
    transform: scale(0.96);
  }
}

label {
  display: flex;
  align-items: center;
}
input {
  appearance: none;
  -webkit-appearance: none;
  background: var(--c-light);
  border: 2px solid var(--c-dark);
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
  &[type='radio'],
  &[type='checkbox'] {
    width: 24px;
    height: 24px;
    &:checked {
      background: var(--c-primary);
    }
  }

  &[type='radio'] {
    border-radius: 50%;
  }
}
