.Nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: flex;
    justify-content: space-around;
    flex: 1 auto;
    padding: var(--s-sm);

    &:last-child {
      padding-right: 0;
    }
  }
}
